/**
 * blaze variables
 */

 :root {
    --base-color: #d53c6a;
    --border: dashed 1px #7c183c;
    --selection-background: #7c183c;
    --selection-text: #130208;
    --background-color: #130208;
    --text-color: var(--base-color);
    --placeholder-color: var(--base-color);
    --link-color: var(--base-color);
    --code-color-1: #ff8274;
    --code-color-2: #ff8274;
    --code-color-3: #ff8274;
    --code-color-4: #ff8274;
    --code-color-5: #ff8274;
    --code-color-6: #460e2b;
    --code-color-7: #460e2b;
    --code-color-8: #460e2b;
    --code-color-9: #460e2b;
    --code-color-10: #460e2b;
    --code-color-11: #460e2b;
    --code-color-12: #31051e;
    --code-color-13: #31051e;
    --code-color-14: #31051e;
    --code-color-15: #1f0510;
    --code-color-16: #1f0510;
    --code-color-17: #1f0510;
    --code-color-18: #1f0510;
  }
  