//navy theme variables

:root {
    --base-color: #9c173b;
    --border: dashed 1px #660f31;
    --selection-background: #660f31;
    --selection-text: #0098db;
    --background-color: #09010d;
    --text-color: var(--base-color);
    --placeholder-color: var(--base-color);
    --link-color: var(--base-color);
    --code-color-1: #ff0546;
    --code-color-2: #ff0546;
    --code-color-3: #ff0546;
    --code-color-4: #ff0546;
    --code-color-5: #ff0546;
    --code-color-6: #ff0546;
    --code-color-7: #ff0546;
    --code-color-8: #ff0546;
    --code-color-9: #ff0546;
    --code-color-10: #1e579c;
    --code-color-11: #1e579c;
    --code-color-12: #1e579c;
    --code-color-13: #1e579c;
    --code-color-14: #0ce6f2;
    --code-color-15: #0ce6f2;
    --code-color-16: #0ce6f2;
    --code-color-17: #0ce6f2;
    --code-color-18: #0ce6f2;
  }