//navy theme variables

:root {
    --base-color: #f39949;
    --border: dashed 1px #ebc275;
    --selection-background: #ebc275;
    --selection-text: #202215;
    --background-color: #202215;
    --text-color: var(--base-color);
    --placeholder-color: var(--base-color);
    --link-color: var(--base-color);
    --code-color-1: #dfd785;
    --code-color-2: #dfd785;
    --code-color-3: #dfd785;
    --code-color-4: #dfd785;
    --code-color-5: #ff7831;
    --code-color-6: #963c3c;
    --code-color-7: #963c3c;
    --code-color-8: #963c3c;
    --code-color-9: #963c3c;
    --code-color-10: #ff7831;
    --code-color-11: #ca5a2e;
    --code-color-12: #ca5a2e;
    --code-color-13: #ca5a2e;
    --code-color-14: #ca5a2e;
    --code-color-15: #ca5a2e;
    --code-color-16: #3a2802;
    --code-color-17: #3a2802;
    --code-color-18: #3a2802;
  }