//navy theme variables

:root {
    --base-color: #5e1a20;
    --border: dashed 1px #5e1a40;
    --selection-background: #5e1a30;
    --selection-text: #e3b47a;
    --background-color: #e3b47a;
    --text-color: var(--base-color);
    --placeholder-color: var(--base-color);
    --link-color: var(--base-color);
    --code-color-1: #10182e;
    --code-color-2: #10182e;
    --code-color-3: #10182e;
    --code-color-4: #10182e;
    --code-color-5: #10182e;
    --code-color-6: #182634;
    --code-color-7: #182634;
    --code-color-8: #182634;
    --code-color-9: #182634;
    --code-color-10: #182634;
    --code-color-11: #be794f;
    --code-color-12: #be794f;
    --code-color-13: #be794f;
    --code-color-14: #be794f;
    --code-color-15: #0c1023;
    --code-color-16: #0c1023;
    --code-color-17: #0c1023;
    --code-color-18: #0c1023;
  }