//navy theme variables

:root {
    --base-color: #4d8061;
    --border: dashed 1px #305d42;
    --selection-background: #305d42;
    --selection-text: #040c06;
    --background-color: #040c06;
    --text-color: var(--base-color);
    --placeholder-color: var(--base-color);
    --link-color: var(--base-color);
    --code-color-1: #eeffcc;
    --code-color-2: #eeffcc;
    --code-color-3: #eeffcc;
    --code-color-4: #112318;
    --code-color-5: #112318;
    --code-color-6: #1e3a29;
    --code-color-7: #1e3a29;
    --code-color-8: #1e3a29;
    --code-color-9: #1e3a29;
    --code-color-10: #89a257;
    --code-color-11: #89a257;
    --code-color-12: #89a257;
    --code-color-13: #89a257;
    --code-color-14: #bedc7f;
    --code-color-15: #bedc7f;
    --code-color-16: #bedc7f;
    --code-color-17: #bedc7f;
    --code-color-18: #eeffcc;
  }