/**
 * royal variables
 */

 :root {
    --base-color: #4d222c;
    --border: dashed 1px #4d228c;
    --selection-background: #4d228c;
    --selection-text: #cfab51;
    --background-color: #cfab51;
    --text-color: var(--base-color);
    --placeholder-color: var(--base-color);
    --link-color: var(--base-color);
    --code-color-1: #210b1b;
    --code-color-2: #210b1b;
    --code-color-3: #210b1b;
    --code-color-4: #210b1b;
    --code-color-5: #210b1b;
    --code-color-6: #210b1b;
    --code-color-7: #210b1b;
    --code-color-8: #210b1b;
    --code-color-9: #210b1b;
    --code-color-10: #9d654c;
    --code-color-11: #9d654c;
    --code-color-12: #9d654c;
    --code-color-13: #9d654c;
    --code-color-14: #9d654c;
    --code-color-15: #9d654c;
    --code-color-16: #9d654c;
    --code-color-17: #9d654c;
    --code-color-18: #9d654c;
  }
  