/**
 * royal variables
 */

 :root {
    --base-color: #eb6b6f;
    --border: dashed 1px #eb6b6a;
    --selection-background: #eb6b3f;
    --selection-text: #fff6d3;
    --background-color: #fff6d3;
    --text-color: var(--base-color);
    --placeholder-color: var(--base-color);
    --link-color: var(--base-color);
    --code-color-1: #7c3f58;
    --code-color-2: #7c3f58;
    --code-color-3: #7c3f58;
    --code-color-4: #7c3f58;
    --code-color-5: #7c3f58;
    --code-color-6: #7c3f58;
    --code-color-7: #7c3f58;
    --code-color-8: #7c3f58;
    --code-color-9: #7c3f58;
    --code-color-10: #f9a875;
    --code-color-11: #f9a875;
    --code-color-12: #f9a875;
    --code-color-13: #f9a875;
    --code-color-14: #f9a875;
    --code-color-15: #f9a875;
    --code-color-16: #f9a875;
    --code-color-17: #f9a875;
    --code-color-18: #f9a875;
  }
  