/**
 * royal variables
 */

 :root {
    --base-color: #5fc75d;
    --border: dashed 1px #5fc75d;
    --selection-background: #5fc75d;
    --selection-text: #0f052d;
    --background-color: #0d001a;
    --text-color: var(--base-color);
    --placeholder-color: var(--base-color);
    --link-color: var(--base-color);
    --code-color-1: #36868f;
    --code-color-2: #36868f;
    --code-color-3: #36868f;
    --code-color-4: #36868f;
    --code-color-5: #36868f;
    --code-color-6: #36868f;
    --code-color-7: #36868f;
    --code-color-8: #36868f;
    --code-color-9: #36868f;
    --code-color-10: #203671;
    --code-color-11: #203671;
    --code-color-12: #203671;
    --code-color-13: #203671;
    --code-color-14: #203671;
    --code-color-15: #203671;
    --code-color-16: #203671;
    --code-color-17: #203671;
    --code-color-18: #203671;
  }
