/**
 * royal variables
 */

 :root {
    --base-color: #6ceded;
    --border: dashed 1px #6cb9c9;
    --selection-background: #6cb9c9;
    --selection-text: #0d001a;
    --background-color: #0d001a;
    --text-color: var(--base-color);
    --placeholder-color: var(--base-color);
    --link-color: var(--base-color);
    --code-color-1: #6e5181;
    --code-color-2: #6e5181;
    --code-color-3: #6e5181;
    --code-color-4: #6e5181;
    --code-color-5: #6e5181;
    --code-color-6: #6e5181;
    --code-color-7: #6f1d5c;
    --code-color-8: #6f1d5c;
    --code-color-9: #6f1d5c;
    --code-color-10: #6f1d5c;
    --code-color-11: #6f1d5c;
    --code-color-12: #6f1d5c;
    --code-color-13: #4f1446;
    --code-color-14: #4f1446;
    --code-color-15: #4f1446;
    --code-color-16: #4f1446;
    --code-color-17: #4f1446;
    --code-color-18: #4f1446;
  }
