/**
 * royal variables
 */

 :root {
    --base-color: #a64777;
    --border: dashed 1px #a64757;
    --selection-background: #a64757;
    --selection-text: #ebe5ce;
    --background-color: #ebe5ce;
    --text-color: var(--base-color);
    --placeholder-color: var(--base-color);
    --link-color: var(--base-color);
    --code-color-1: #3e2653;
    --code-color-2: #3e2653;
    --code-color-3: #3e2653;
    --code-color-4: #3e2653;
    --code-color-5: #3e2653;
    --code-color-6: #3e2653;
    --code-color-7: #3e2653;
    --code-color-8: #3e2653;
    --code-color-9: #3e2653;
    --code-color-10: #ff4589;
    --code-color-11: #ff4589;
    --code-color-12: #ff4589;
    --code-color-13: #ff4589;
    --code-color-14: #ff4589;
    --code-color-15: #ff4589;
    --code-color-16: #ff4589;
    --code-color-17: #ff4589;
    --code-color-18: #ff4589;
  }
  