/**
 * royal variables
 */

 :root {
    --base-color: #04373b;
    --border: dashed 1px #04376b;
    --selection-background: #04376b;
    --selection-text: #d1cb95;
    --background-color: #d1cb95;
    --text-color: var(--base-color);
    --placeholder-color: var(--base-color);
    --link-color: var(--base-color);
    --code-color-1: #40985e;
    --code-color-2: #40985e;
    --code-color-3: #40985e;
    --code-color-4: #40985e;
    --code-color-5: #40985e;
    --code-color-6: #40985e;
    --code-color-7: #40985e;
    --code-color-8: #40985e;
    --code-color-9: #40985e;
    --code-color-10: #0a1a2f;
    --code-color-11: #0a1a2f;
    --code-color-12: #0a1a2f;
    --code-color-13: #0a1a2f;
    --code-color-14: #1a644e;
    --code-color-15: #1a644e;
    --code-color-16: #1a644e;
    --code-color-17: #1a644e;
    --code-color-18: #1a644e;
  }
  