/**
 * royal variables
 */

 :root {
    --base-color: #000000;
    --border: dashed 1px #000000;
    --selection-background: #a1281c;
    --selection-text: #e8d6c0;
    --background-color: #e8d6c0;
    --text-color: var(--base-color);
    --placeholder-color: var(--base-color);
    --link-color: var(--base-color);
    --code-color-1: #a1281c;
    --code-color-2: #a1281c;
    --code-color-3: #a1281c;
    --code-color-4: #a1281c;
    --code-color-5: #a1281c;
    --code-color-6: #a1281c;
    --code-color-7: #a1281c;
    --code-color-8: #a1281c;
    --code-color-9: #a1281c;
    --code-color-10: #92938d;
    --code-color-11: #92938d;
    --code-color-12: #92938d;
    --code-color-13: #92938d;
    --code-color-14: #92938d;
    --code-color-15: #92938d;
    --code-color-16: #92938d;
    --code-color-17: #92938d;
    --code-color-18: #92938d;
  }
  