/**
 * royal variables
 */

 :root {
    --base-color: #b8196a;
    --border: dashed 1px #b8196d;
    --selection-background: #b81988;
    --selection-text: #0a0219;
    --background-color: #0a0219;
    --text-color: var(--base-color);
    --placeholder-color: var(--base-color);
    --link-color: var(--base-color);
    --code-color-1: #ed233d;
    --code-color-2: #ed233d;
    --code-color-3: #ed233d;
    --code-color-4: #ed233d;
    --code-color-5: #ed233d;
    --code-color-6: #ed233d;
    --code-color-7: #ed233d;
    --code-color-8: #ed233d;
    --code-color-9: #ed233d;
    --code-color-10: #360748;
    --code-color-11: #360748;
    --code-color-12: #360748;
    --code-color-13: #360748;
    --code-color-14: #360748;
    --code-color-15: #360748;
    --code-color-16: #360748;
    --code-color-17: #360748;
    --code-color-18: #360748;
  }
  